{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %} <!-- checkout the 'with' statement concept 
it uhh basically just wraps around the block of code and closes necessary objects
when we finish exe code.-->
    {% if messages %}
        {% for msg in messages%}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="#" method="POST">
    <input type="email" name="email_key" placeholder="Enter Email" value="{{email if email}}" /> <!-- value="{{email if email}}" it basically autocompletes the email in the box.
    if it's in the database.-->
    <input type="submit" value="submit"/>
</form>
{% endblock %}