{% extends "base.html" %}

{% block title %}
Home page
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %} <!-- checkout the 'with' statement concept 
it uhh basically just wraps around the block of code and closes necessary objects
when we finish exe code.-->
    {% if messages %}
        {% for msg in messages%}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h2>dashboard</h2>
<p>Connected to: {{server_name}}</p>

<!-- Add Folder Form -->
<form method="POST" action="/api">
    <input type="hidden" name="action" value="add_folder">
    <label for="folder_name">Folder Name:</label>
    <input type="text" id="folder_name" name="folder_name">
    <button type="submit">Add Folder</button>
</form>

<!-- Register Device Form -->
<form method="POST" action="/api">
    <input type="hidden" name="action" value="register_device">
    <label for="device_name">Enter Device Name:</label>
    <input type="text" id="device_name" name="device_name">
    <button type="submit">Register Device</button>
</form>

<!-- Join Group Form -->
<form method="POST" action="/api">
    <input type="hidden" name="action" value="join_group">
    <label for="group_name">Group Name:</label>
    <input type="text" id="group_name" name="group_name">
    <button type="submit">Join Group</button>
</form>

{% endblock %}