{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %} <!-- checkout the 'with' statement concept 
    it uhh basically just wraps around the block of code and closes necessary objects
    when we finish exe code.-->
        {% if messages %}
            {% for msg in messages%}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>register</h1>
<form action="#" method="POST"> <!-- action is the URL that the form will send the data to: '#' means it will redirect to the same page -->
    <p>Username:</p>
    <p><input type="text" name="r_user" /></p>
    <p>Password:</p>
    <p><input type="password" name="r_pwd" /></p>
    <p><input type="submit" value="submit" /></p>
</form>
{% endblock %}